So, today i was faced with a challenge. my sister , who is preparing to go to university was sent to a pdf file with the list of courses to apply to with the respective cluster points and university associated with. first look at the pdf file and it was too cluttered, the texts were small, the rows were long and the columns many.It couldnt be opened on a simple smartphone pdf reader or laptop as one would have to keep scrolling on and onup and down, left and right. its tiresome.

i was able to open it with excel and filter out down to the university she wanted but i had to convert the pdf into an excel spreadsheet and then filter the courses. so i thought, whatif i could just write a python code to do all that for me, make a bot and let it do the work for me?

so basically, the structure of the pdf is like this, the whole courses are divided into major course branches eg bsc, bed, btech, barts etc. then the courses lie under each branch eg bed arts, bed science, bed humanities. these courses are stored in rows and columns whereby the columns are programme code, institution name, programme name, 2015 cuttoff, 2016 cuttoff, 2017, 2018, 2019, 2020, 2021 cuttoff

here is an example:

![Alt text](Capture.PNG)

so how do we do this? ,ill just go randomly with what my brain conjured up for now
1. know how to read pdfs
2. if 1 fails, know how to convert pdf into excel on python
3. convert the output to a pandas file
4. check if pandas can separate the courses
5. make a program that a user can input course name and university and the bot outputs details + cluster points.

as a noobie, i will heavily rely on chatgpt so help me god

## step 1 check if it can read pdfs

we will be using pypdf2 python library o try to read the file. lets go!

In [3]:
# pip install PyPDF2
# do this in the command line prompt

from PyPDF2 import PdfReader

# Open the PDF file: Use the open() method to open the 
# PDF file you want to extract text from. This will return
#  a PdfFileReader object.

pdf_reader = PdfReader('DEGREE COURSES.pdf')
number_of_pages = len(pdf_reader.pages)

page = pdf_reader.pages[0]
text = page.extract_text()


print(text)

2022/2023 PLACEMENT CYCLE PROGRAMME CUTOFFS
Page 1 of 74#PROG CODEINSTITUTION NAMEPROGRAMME NAME2015 CUTOFF2016 CUTOFF2017 CUTOFF2018 CUTOFF2019 CUTOFF2020 CUTOFF2021 CUTOFF 11057101EGERTON UNIVERSITYBACHELOR OF ARTS30.0225.25625.33924.85126.5428.22722.926 21087101KISII UNIVERSITYBACHELOR OF ARTS31.91826.569-23.9324.76327.31822.926 31105101CHUKA UNIVERSITYBACHELOR OF ARTS30.9924.95224.40225.79826.72928.41925.974 41111101KENYATTA UNIVERSITYBACHELOR OF ARTS29.9724.38224.43525.61226.98828.19625.034 51117101PWANI UNIVERSITYBACHELOR OF ARTS------- 61166101SOUTH EASTERN KENYA UNIVERSITYBACHELOR OF ARTS2325.365-24.5424.88626.15222.926 71170101MACHAKOS UNIVERSITYBACHELOR OF ARTS2324.786-24.30724.64226.3622.926 81253101MOI UNIVERSITYBACHELOR OF ARTS28.9725.73424.7623.3224.16326.90222.926 91263101UNIVERSITY OF NAIROBIBACHELOR OF ARTS28.525.34424.6623.79524.07527.03624.382 101685101THARAKA UNIVERSITY COLLEGEBACHELOR OF ARTS---24.56224.74625.09522.926 111700101BOMET UNIVERSITY COLLEGEBACHELOR OF ARTS---25.56325.02225.88222.926 121229101MASENO UNIVERSITYBACHELOR OF ARTS (WITH IT)2324.54524.89824.20924.04826.99622.926 131515101TOM MBOYA UNIVERSITY COLLEGEBACHELOR OF ARTS (WITH IT)-28.293-23.40725.49825.03322.926 141164101MULTIMEDIA UNIVERSITY OF KENYABACHELOR OF ARTS (PSYCHOLOGY, SOCIOLOGY & POLITICAL SCIENCE)------24.456 11063102TECHNICAL UNIVERSITY OF MOMBASABACHELOR OF ARCHITECTURAL STUDIES/BACHELOR OF ARCHITECTURE40.95841.38540.15339.26540.30341.07539.176 21112102TECHNICAL UNIVERSITY OF KENYABACHELOR OF ARCHITECTURAL STUDIES/BACHELOR OF ARCHITECTURE43.42943.40541.89342.28642.70642.39940.979 31249564JOMO KENYATTA UNIVERSITY OF AGRICULTURE AND TECHNOLOGYBACHELOR OF ARCHITECTURAL STUDIES/BACHELOR OF ARCHITECTURE44.09443.6240.98939.9242.96743.1642.016 41263102UNIVERSITY OF NAIROBIBACHELOR OF ARCHITECTURAL STUDIES/BACHELOR OF ARCHITECTURE45.34144.61443.51943.75544.4143.90243.198 51111102KENYATTA UNIVERSITYBACHELOR OF ARCHITECTURE44.12943.87442.91142.86743.26442.62942.315 11112103TECHNICAL UNIVERSITY OF KENYABACHELOR OF QUANTITY SURVEYING-42.56241.07740.89942.02241.09140.184 21249103JOMO KENYATTA UNIVERSITY OF AGRICULTURE AND TECHNOLOGYBACHELOR OF QUANTITY SURVEYING44.543.24741.87541.35842.20441.79840.877 31263103UNIVERSITY OF NAIROBIBACHELOR OF QUANTITY SURVEYING44.86143.77442.32342.06142.99242.08142.006 11112104TECHNICAL UNIVERSITY OF KENYABACHELOR OF SCIENCE (QUANTITY SURVEYING)43.58------ 11263105UNIVERSITY OF NAIROBIBACHELOR OF ARTS (DESIGN)40.87636.80934.36231.72434.24132.95726.1 11263106UNIVERSITY OF NAIROBIBACHELOR OF ARTS (ANTHROPOLOGY)2325.47825.61324.71124.07525.32522.926 21117106PWANI UNIVERSITYBACHELOR OF ARTS IN ANTHROPOLOGY---25.46224.31824.67422.926 31480106CATHOLIC UNIVERSITY OF EAST AFRICABACHELOR OF ARTS IN ANTHROPOLOGY2331.594-27.75224.02124.79822.926 11087107KISII UNIVERSITYBACHELOR OF ACTUARIAL SCIENCE39.81735.38231.85328.80527.71124.59920.1 21103107KCA UNIVERSITYBACHELOR OF ACTUARIAL SCIENCE--23.42331.5733.29826.64726.208 31105107CHUKA UNIVERSITYBACHELOR OF ACTUARIAL SCIENCE--31.57534.534.30431.14330.784 41685107THARAKA UNIVERSITY COLLEGEBACHELOR OF ACTUARIAL SCIENCE---24.24924.60920.04820.1 51053107JARAMOGI OGINGA ODINGA UNIVERSITY OF SCIENCE AND TECHNOLOGYBACHELOR OF SCIENCE (ACTUARIAL SCIENCE WITH IT)36.3933.1831.06628.9925.61424.35120.1 61229107MASENO UNIVERSITYBACHELOR OF SCIENCE (ACTUARIAL SCIENCE, WITH IT)41.7440.13135.8136.2935.36630.84831.886 71515107TOM MBOYA UNIVERSITY COLLEGEBACHELOR OF SCIENCE (ACTUARIAL SCIENCE, WITH IT)-26.78429.30324.3524.55320.04820.1 81057107EGERTON UNIVERSITYBACHELOR OF SCIENCE (ACTUARIAL SCIENCE)41.25141.27838.01338.58837.04935.4830.859 91096107GARISSA UNIVERSITYBACHELOR OF SCIENCE (ACTUARIAL SCIENCE)-25.96825.89723.34223.84720.04820.1 101111107KENYATTA UNIVERSITYBACHELOR OF SCIENCE (ACTUARIAL SCIENCE)44.35243.08640.77341.21440.19438.13536.908 111118107UNIVERSITY OF KABIANGABACHELOR OF SCIENCE (ACTUARIAL SCIENCE)32.82934.74129.82130.58227.9923.93726.367 121166107SOUTH EASTERN KENYA UNIVERSITYBACHELOR OF SCIENCE (ACTUARIAL SCIENCE)33.6733.33128.75728.37325.29420.04820.1 131170107MACHAKOS UNIVERSITYBACHELOR OF SCIENCE (ACTUARIAL SCIENCE)--26.39531.00431.07724.727- 141240107MERU UNIVERSITY OF SCIENCE AND TECHNOLOGYBACHELOR OF SCIENCE (ACTUARIAL SCIENCE)38.937.54333.76626.66528.00724.40420.1 151253107MOI UNIVERSITYBACHELOR OF SCIENCE (ACTUARIAL SCIENCE)42.46642.05539.42439.03138.07535.68933.425 161263107UNIVERSITY OF NAIROBIBACHELOR OF SCIENCE (ACTUARIAL SCIENCE)44.8843.77741.51641.84841.81638.51440.134 171061107KABARAK UNIVERSITYBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE--28.59432.77933.92733.4724.496 181079107KIRINYAGA UNIVERSITYBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE-26.14530.19624.37725.72923.53220.1 191080107CO-OPERATIVE UNIVERSITY OF KENYABACHELOR OF SCIENCE IN ACTUARIAL SCIENCE-----23.95826.383 201114107UNIVERSITY OF ELDORETBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE39.87239.42135.16135.25832.57828.51729.666 211162107DAYSTAR UNIVERSITYBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE31.06436.40437.58533.77835.1326.92927.913 221164107MULTIMEDIA UNIVERSITY OF KENYABACHELOR OF SCIENCE IN ACTUARIAL SCIENCE40.75840.03935.81636.67836.28331.78231.618 231173107DEDAN KIMATHI UNIVERSITY OF TECHNOLOGYBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE41.07138.3236.15635.77433.39632.50530.427 241244107KARATINA UNIVERSITYBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE37.45637.06629.85930.63128.87523.99420.1 251246107MURANGA UNIVERSITY OF TECHNOLOGYBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE-24.2130.55629.7626.09322.50920.1 261249107JOMO KENYATTA UNIVERSITY OF AGRICULTURE AND TECHNOLOGYBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE43.07342.60439.5240.0639.73536.11937.145 271279107MOUNT KENYA UNIVERSITYBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE28.9430.73232.41533.05132.16230.09831.88 281425107ZETECH UNIVERSITYBACHELOR OF SCIENCE IN ACTUARIAL SCIENCE------20.1 291480107CATHOLIC UNIVERSITY OF EAST AFRICABACHELOR OF SCIENCE IN ACTUARIAL SCIENCE29.5231.37532.58230.83731.75325.17722.92 11229108MASENO UNIVERSITYBACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY, WITH IT)38.837.25333.69233.42432.44225.68116.787 21515108TOM MBOYA UNIVERSITY COLLEGEBACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY, WITH IT)---25.27124.0916.916.787 31082108MASINDE MULIRO UNIVERSITY OF SCIENCE & TECHNOLOGYBACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY)35.08235.15732.98232.65330.74527.52516.787 41087108KISII UNIVERSITYBACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY)34.65330.26231.08125.10124.84616.916.787 51093108UNIVERSITY OF EMBUBACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY)34.77123.92824.0123.78423.50116.916.787 61117108PWANI UNIVERSITYBACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY)36.4431.86733.57130.54928.39624.33316.787 71246108MURANGA UNIVERSITY OF TECHNOLOGYBACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY)--25.86226.92226.14116.916.787 81263108UNIVERSITY OF NAIROBIBACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY)41.91640.18538.2837.69538.21832.05233.535 91279108MOUNT KENYA UNIVERSITYBACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY)-24.10326.59528.60424.91624.35916.787BACHELOR OF ARTS
BACHELOR OF ARCHITECTURAL STUDIES/BACHELOR OF ARCHITECTUREBACHELOR OF QUANTITY SURVEYINGBACHELOR OF SCIENCE (QUANTITY SURVEYING)BACHELOR OF ARTS (DESIGN)BACHELOR OF ARTS (ANTHROPOLOGY)BACHELOR OF ACTUARIAL SCIENCE
BACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY, WITH IT)

the output looks kinda messy so we will kinda use tabula library. this is a quest for the next four hours me...getting..sllleeeppyy

Ok.. we are back!
lets test out tabula

In [1]:
import tabula

file  = "DEGREE COURSES.pdf"
table = tabula.read_pdf(file, pages=1)

table[0]

,#,PROG CODE,INSTITUTION NAME,PROGRAMME NAME,2015 CUTOFF,2016 CUTOFF,2017 CUTOFF,2018 CUTOFF,2019 CUTOFF,2020 CUTOFF,2021 CUTOFF
0,BACHELOR OF ARTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1057101.0,EGERTON UNIVERSITY,BACHELOR OF ARTS,30.02,25.256,25.339,24.851,26.54,28.227,22.926
2,2,1087101.0,KISII UNIVERSITY,BACHELOR OF ARTS,31.918,26.569,-,23.93,24.763,27.318,22.926
3,3,1105101.0,CHUKA UNIVERSITY,BACHELOR OF ARTS,30.99,24.952,24.402,25.798,26.729,28.419,25.974
4,4,1111101.0,KENYATTA UNIVERSITY,BACHELOR OF ARTS,29.97,24.382,24.435,25.612,26.988,28.196,25.034
...,...,...,...,...,...,...,...,...,...,...,...
68,5,1093108.0,UNIVERSITY OF EMBU,BACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY),34.771,23.928,24.01,23.784,23.501,16.9,16.787
69,6,1117108.0,PWANI UNIVERSITY,BACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY),36.44,31.867,33.571,30.549,28.396,24.333,16.787
70,7,1246108.0,MURANGA UNIVERSITY OF TECHNOLOGY,BACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY),-,-,25.862,26.922,26.141,16.9,16.787
71,8,1263108.0,UNIVERSITY OF NAIROBI,BACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY),41.916,40.185,38.28,37.695,38.218,32.052,33.535
72,9,1279108.0,MOUNT KENYA UNIVERSITY,BACHELOR OF SCIENCE (INDUSTRIAL CHEMISTRY),-,24.103,26.595,28.604,24.916,24.359,16.787

damn! it fucking worked!
thanks to https://towardsdatascience.com/scraping-table-data-from-pdf-files-using-a-single-line-in-python-8607880c750

now that it works, lets do some filtering
wait, how does pandas work again?

checl out this youtube video by ...

now lets extract everythinglets extract everything

In [6]:
df = tabula.read_pdf(file, pages="all")

lets import pandas library to work on it

since that failed, i gguess we have to convert it all into csv. hope it works

In [11]:

tabula.convert_into(file, "degree_courses.csv", pages="all")

In [5]:
import pandas as pd

open file

In [13]:
df = pd.read_csv('degree_courses.csv')
print(df)

ParserError: Error tokenizing data. C error: Expected 11 fields in line 1636, saw 19

lets test to see whether we can get all degree courses

well, the csv format failed. lets go with the excel format

In [41]:
df = pd.read_excel('DEGREE COURSES.xlsx')

In [42]:
print(df)

      # PROG CODE                                   INSTITUTION NAME
0     1   1057101                                 EGERTON UNIVERSITY  \
1     2   1087101                                   KISII UNIVERSITY
2     3   1105101                                   CHUKA UNIVERSITY
3     4   1111101                                KENYATTA UNIVERSITY
4     5   1117101                                   PWANI UNIVERSITY
...  ..       ...                                                ...
2185  1   1105C29                                   CHUKA UNIVERSITY
2186  1   1082C36  MASINDE MULIRO UNIVERSITY OF SCIENCE & TECHNOLOGY
2187  2   1470C36                 KAIMOSI FRIENDS UNIVERSITY COLLEGE
2188  1   1061C81                                 KABARAK UNIVERSITY
2189  1   1080C82                   CO-OPERATIVE UNIVERSITY OF KENYA

                                         PROGRAMME NAME 2015 CUTOFF
0                                      BACHELOR OF ARTS       30.02  \
1                                      BACHELOR OF ARTS      31.918
2                                      BACHELOR OF ARTS       30.99
3                                      BACHELOR OF ARTS       29.97
4                                      BACHELOR OF ARTS           -
...                                                 ...         ...
2185                    BACHELOR OF ENGINEERING PHYSICS           -
2186  BACHELOR OF SCIENCE IN INFORMATION SYSTEMS AND...           -
2187  BACHELOR OF SCIENCE IN INFORMATION SYSTEMS AND...           -
2188                     BACHELOR OF ARTS IN CHAPLAINCY           -
2189  BACHELOR OF SCIENCE IN APPLIED STATISTICS AND ...           -

     2016 CUTOFF 2017 CUTOFF 2018 CUTOFF 2019 CUTOFF 2020 CUTOFF 2021 CUTOFF
0         25.256      25.339      24.851       26.54      28.227      22.926
1         26.569           -       23.93      24.763      27.318      22.926
2         24.952      24.402      25.798      26.729      28.419      25.974
3         24.382      24.435      25.612      26.988      28.196      25.034
4              -           -           -           -           -           -
...          ...         ...         ...         ...         ...         ...
2185           -           -           -           -      19.481      16.787
2186           -           -           -           -           -      22.544
2187           -           -           -           -           -      22.544
2188           -           -           -           -           -      19.956
2189           -           -           -           -           -      19.223

[2190 rows x 11 columns]

I think it works...

In [44]:
print(df.head(3))

   # PROG CODE    INSTITUTION NAME    PROGRAMME NAME 2015 CUTOFF 2016 CUTOFF
0  1   1057101  EGERTON UNIVERSITY  BACHELOR OF ARTS       30.02      25.256  \
1  2   1087101    KISII UNIVERSITY  BACHELOR OF ARTS      31.918      26.569
2  3   1105101    CHUKA UNIVERSITY  BACHELOR OF ARTS       30.99      24.952

  2017 CUTOFF 2018 CUTOFF 2019 CUTOFF 2020 CUTOFF 2021 CUTOFF
0      25.339      24.851       26.54      28.227      22.926
1           -       23.93      24.763      27.318      22.926
2      24.402      25.798      26.729      28.419      25.974

In [45]:
print(df.tail(3))

      # PROG CODE                    INSTITUTION NAME
2187  2   1470C36  KAIMOSI FRIENDS UNIVERSITY COLLEGE  \
2188  1   1061C81                  KABARAK UNIVERSITY
2189  1   1080C82    CO-OPERATIVE UNIVERSITY OF KENYA

                                         PROGRAMME NAME 2015 CUTOFF
2187  BACHELOR OF SCIENCE IN INFORMATION SYSTEMS AND...           -  \
2188                     BACHELOR OF ARTS IN CHAPLAINCY           -
2189  BACHELOR OF SCIENCE IN APPLIED STATISTICS AND ...           -

     2016 CUTOFF 2017 CUTOFF 2018 CUTOFF 2019 CUTOFF 2020 CUTOFF 2021 CUTOFF
2187           -           -           -           -           -      22.544
2188           -           -           -           -           -      19.956
2189           -           -           -           -           -      19.223

In [46]:
print(df.columns)

Index(['#', 'PROG CODE', 'INSTITUTION NAME', 'PROGRAMME NAME', '2015 CUTOFF',
       '2016 CUTOFF', '2017 CUTOFF', '2018 CUTOFF', '2019 CUTOFF',
       '2020 CUTOFF', '2021 CUTOFF'],
      dtype='object')

In [51]:
print(df[['INSTITUTION NAME','2021 CUTOFF']])

                                       INSTITUTION NAME 2021 CUTOFF
0                                    EGERTON UNIVERSITY      22.926
1                                      KISII UNIVERSITY      22.926
2                                      CHUKA UNIVERSITY      25.974
3                                   KENYATTA UNIVERSITY      25.034
4                                      PWANI UNIVERSITY           -
...                                                 ...         ...
2185                                   CHUKA UNIVERSITY      16.787
2186  MASINDE MULIRO UNIVERSITY OF SCIENCE & TECHNOLOGY      22.544
2187                 KAIMOSI FRIENDS UNIVERSITY COLLEGE      22.544
2188                                 KABARAK UNIVERSITY      19.956
2189                   CO-OPERATIVE UNIVERSITY OF KENYA      19.223

[2190 rows x 2 columns]

In [48]:
print(df.iloc[1])

#                                  2
PROG CODE                    1087101
INSTITUTION NAME    KISII UNIVERSITY
PROGRAMME NAME      BACHELOR OF ARTS
2015 CUTOFF                   31.918
2016 CUTOFF                   26.569
2017 CUTOFF                        -
2018 CUTOFF                    23.93
2019 CUTOFF                   24.763
2020 CUTOFF                   27.318
2021 CUTOFF                   22.926
Name: 1, dtype: object

i think i will delete all rows withNan in their columns. that way i remove the table headings...

In [35]:
# delete all rows containing Nan
# df = df.dropna(how='all')
# print(df.head(3))

                  # PROG CODE  Unnamed: 2    INSTITUTION NAME
0  BACHELOR OF ARTS       NaN         NaN                 NaN  \
1                 1   1057101         NaN  EGERTON UNIVERSITY
2                 2   1087101         NaN    KISII UNIVERSITY

     PROGRAMME NAME 2015 CUTOFF 2016 CUTOFF 2017 CUTOFF 2018 CUTOFF
0               NaN         NaN         NaN         NaN         NaN  \
1  BACHELOR OF ARTS       30.02      25.256      25.339      24.851
2  BACHELOR OF ARTS      31.918      26.569           -       23.93

  2019 CUTOFF 2020 CUTOFF 2021 CUTOFF
0         NaN         NaN         NaN
1       26.54      28.227      22.926
2      24.763      27.318      22.926

that didnt work since there was a column with nan values. ended up deleting everything. had to restart

In [52]:
# getting specific rows
df.loc[df['PROGRAMME NAME'] == "BACHELOR OF ARTS"]

,#,PROG CODE,INSTITUTION NAME,PROGRAMME NAME,2015 CUTOFF,2016 CUTOFF,2017 CUTOFF,2018 CUTOFF,2019 CUTOFF,2020 CUTOFF,2021 CUTOFF
0,1,1057101,EGERTON UNIVERSITY,BACHELOR OF ARTS,30.02,25.256,25.339,24.851,26.54,28.227,22.926
1,2,1087101,KISII UNIVERSITY,BACHELOR OF ARTS,31.918,26.569,-,23.93,24.763,27.318,22.926
2,3,1105101,CHUKA UNIVERSITY,BACHELOR OF ARTS,30.99,24.952,24.402,25.798,26.729,28.419,25.974
3,4,1111101,KENYATTA UNIVERSITY,BACHELOR OF ARTS,29.97,24.382,24.435,25.612,26.988,28.196,25.034
4,5,1117101,PWANI UNIVERSITY,BACHELOR OF ARTS,-,-,-,-,-,-,-
5,6,1166101,SOUTH EASTERN KENYA UNIVERSITY,BACHELOR OF ARTS,23,25.365,-,24.54,24.886,26.152,22.926
6,7,1170101,MACHAKOS UNIVERSITY,BACHELOR OF ARTS,23,24.786,-,24.307,24.642,26.36,22.926
7,8,1253101,MOI UNIVERSITY,BACHELOR OF ARTS,28.97,25.734,24.76,23.32,24.163,26.902,22.926
8,9,1263101,UNIVERSITY OF NAIROBI,BACHELOR OF ARTS,28.5,25.344,24.66,23.795,24.075,27.036,24.382
9,10,1685101,THARAKA UNIVERSITY COLLEGE,BACHELOR OF ARTS,-,-,-,24.562,24.746,25.095,22.926
10,11,1700101,BOMET UNIVERSITY COLLEGE,BACHELOR OF ARTS,-,-,-,25.563,25.022,25.882,22.926

In [53]:
df.describe()

                 #
count  2190.000000
mean      6.854338
std       8.393055
min       1.000000
25%       2.000000
50%       4.000000
75%       9.000000
max      59.000000

In [54]:
# check for specific name
df.loc[df['PROGRAMME NAME'].str.contains('EDUCATION')]

,#,PROG CODE,INSTITUTION NAME,PROGRAMME NAME,2015 CUTOFF,2016 CUTOFF,2017 CUTOFF,2018 CUTOFF,2019 CUTOFF,2020 CUTOFF,2021 CUTOFF
396,1,1229135,MASENO UNIVERSITY,"BACHELOR OF EDUCATION (ARTS, WITH IT)",35.34,31.674,27.055,28.521,31.016,31.178,30.514
397,2,1515135,TOM MBOYA UNIVERSITY COLLEGE,"BACHELOR OF EDUCATION (ARTS, WITH IT)",-,25.474,-,24.555,26.309,27.223,24.445
398,3,1057135,EGERTON UNIVERSITY,BACHELOR OF EDUCATION (ARTS),36.44,32.652,29.213,30.772,32.843,33.037,29.484
399,4,1060135,RIARA UNIVERSITY,BACHELOR OF EDUCATION (ARTS),31.529,28.15,-,-,-,-,-
400,5,1061135,KABARAK UNIVERSITY,BACHELOR OF EDUCATION (ARTS),32.23,24.8,26.419,27.727,30.075,30.251,29.225
...,...,...,...,...,...,...,...,...,...,...,...
2050,12,1107680,ST PAULS UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD DEVELOP...,23,-,-,24.187,24.5,24.329,22.636
2051,13,1165680,MAASAI MARA UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD DEVELOP...,23,24.834,25.71,24.339,23.904,24.39,22.636
2052,14,1166680,SOUTH EASTERN KENYA UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD DEVELOP...,-,-,-,24.536,-,-,-
2131,1,1078880,AFRICA NAZARENE UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD),23,-,-,-,-,-,-
2132,2,1169880,KENYA HIGHLANDS EVANGELICAL UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD),23,-,-,24.795,-,-,-

so, to sum up, what actually worked was this

In [1]:
import pandas as pd

df = pd.read_excel('DEGREE COURSES.xlsx')
df_columns = df.columns

df.loc[df['PROGRAMME NAME'].str.contains('EDUCATION')]

,#,PROG CODE,INSTITUTION NAME,PROGRAMME NAME,2015 CUTOFF,2016 CUTOFF,2017 CUTOFF,2018 CUTOFF,2019 CUTOFF,2020 CUTOFF,2021 CUTOFF
396,1,1229135,MASENO UNIVERSITY,"BACHELOR OF EDUCATION (ARTS, WITH IT)",35.34,31.674,27.055,28.521,31.016,31.178,30.514
397,2,1515135,TOM MBOYA UNIVERSITY COLLEGE,"BACHELOR OF EDUCATION (ARTS, WITH IT)",-,25.474,-,24.555,26.309,27.223,24.445
398,3,1057135,EGERTON UNIVERSITY,BACHELOR OF EDUCATION (ARTS),36.44,32.652,29.213,30.772,32.843,33.037,29.484
399,4,1060135,RIARA UNIVERSITY,BACHELOR OF EDUCATION (ARTS),31.529,28.15,-,-,-,-,-
400,5,1061135,KABARAK UNIVERSITY,BACHELOR OF EDUCATION (ARTS),32.23,24.8,26.419,27.727,30.075,30.251,29.225
...,...,...,...,...,...,...,...,...,...,...,...
2050,12,1107680,ST PAULS UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD DEVELOP...,23,-,-,24.187,24.5,24.329,22.636
2051,13,1165680,MAASAI MARA UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD DEVELOP...,23,24.834,25.71,24.339,23.904,24.39,22.636
2052,14,1166680,SOUTH EASTERN KENYA UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD DEVELOP...,-,-,-,24.536,-,-,-
2131,1,1078880,AFRICA NAZARENE UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD),23,-,-,-,-,-,-
2132,2,1169880,KENYA HIGHLANDS EVANGELICAL UNIVERSITY,BACHELOR OF EDUCATION (EARLY CHILDHOOD),23,-,-,24.795,-,-,-

we strayed a little from our path, about 5 hours worth. waht we wanted to do was to mae a bot, whatsapp or telegram that one can choose which course they are looking for, which university they aspire to be in, and probably...this might be hard, the cluster points they currently have.

In [14]:
# get user input 
print("hello there, this is a short program to show you what university course you want, instead of scanning through the entire pdf")
print("lets start by entering the course you want")
user_course_name = input("Enter course name: ")
print(user_course_name)
user_uni_name = input("Enter university name: ")
print(user_uni_name)
filtered_df = df.loc[(df['PROGRAMME NAME'] == user_course_name.upper()) & (df['INSTITUTION NAME'] == user_uni_name.upper())]
print(filtered_df[['2015 CUTOFF','2016 CUTOFF']])

hello there, this is a short program to show you what university course you want, instead of scanning through the entire pdf
lets start by entering the course you want
bachelor of arts
kenyatta university
  2015 CUTOFF 2016 CUTOFF
3       29.97      24.382

In [20]:
filtered_df = df.loc[(df['PROGRAMME NAME'] == "BACHELOR OF ARTS") & (df['INSTITUTION NAME'] == "UNIVERSITY OF NAIROBI")]# type: ignore
cutoffs = filtered_df[['2015 CUTOFF', '2016 CUTOFF', '2017 CUTOFF', '2018 CUTOFF', '2019 CUTOFF', '2020 CUTOFF', '2021 CUTOFF']]

cutoffs.to_dict(orient='list')

8    28.5
Name: 2015 CUTOFF, dtype: object

In [5]:
# nw addition, select university names without printing out duplicates
unique_uni_name = df['INSTITUTION NAME'].unique()

print(unique_uni_name)

['EGERTON UNIVERSITY' 'KISII UNIVERSITY' 'CHUKA UNIVERSITY'
 'KENYATTA UNIVERSITY' 'PWANI UNIVERSITY' 'SOUTH EASTERN KENYA UNIVERSITY'
 'MACHAKOS UNIVERSITY' 'MOI UNIVERSITY' 'UNIVERSITY OF NAIROBI'
 'THARAKA UNIVERSITY COLLEGE' 'BOMET UNIVERSITY COLLEGE'
 'MASENO UNIVERSITY' 'TOM MBOYA UNIVERSITY COLLEGE'
 'MULTIMEDIA UNIVERSITY OF KENYA' 'TECHNICAL UNIVERSITY OF MOMBASA'
 'TECHNICAL UNIVERSITY OF KENYA'
 'JOMO KENYATTA UNIVERSITY OF AGRICULTURE AND TECHNOLOGY'
 'CATHOLIC UNIVERSITY OF EAST AFRICA' 'KCA UNIVERSITY'
 'JARAMOGI OGINGA ODINGA UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'GARISSA UNIVERSITY' 'UNIVERSITY OF KABIANGA'
 'MERU UNIVERSITY OF SCIENCE AND TECHNOLOGY' 'KABARAK UNIVERSITY'
 'KIRINYAGA UNIVERSITY' 'CO-OPERATIVE UNIVERSITY OF KENYA'
 'UNIVERSITY OF ELDORET' 'DAYSTAR UNIVERSITY'
 'DEDAN KIMATHI UNIVERSITY OF TECHNOLOGY' 'KARATINA UNIVERSITY'
 'MURANGA UNIVERSITY OF TECHNOLOGY' 'MOUNT KENYA UNIVERSITY'
 'ZETECH UNIVERSITY' 'MASINDE MULIRO UNIVERSITY OF SCIENCE & TECHNOLOGY'
 'UNIVERSITY OF EMBU' 'TAITA TAVETA UNIVERSITY' 'RONGO UNIVERSITY'
 'KIBABII UNIVERSITY' 'MAASAI MARA UNIVERSITY'
 'UNIVERSITY OF EASTERN AFRICA, BARATON'
 'KIRIRI WOMENS UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'KAIMOSI FRIENDS UNIVERSITY COLLEGE' 'LAIKIPIA UNIVERSITY'
 'AFRICA NAZARENE UNIVERSITY' 'KENYA HIGHLANDS EVANGELICAL UNIVERSITY'
 'THE EAST AFRICAN UNIVERSITY'
 'KENYATTA UNIVERSITY - MAMA NGINA UNIVERSITY COLLEGE'
 'ALUPE UNIVERSITY COLLEGE' 'RIARA UNIVERSITY' 'GRETSA UNIVERSITY'
 'ST PAULS UNIVERSITY' 'PRESBYTERIAN UNIVERSITY OF EAST AFRICA'
 'UMMA UNIVERSITY' 'KENYA METHODIST UNIVERSITY' 'UZIMA UNIVERSITY'
 'GREAT LAKES UNIVERSITY OF KISUMU' 'MANAGEMENT UNIVERSITY OF AFRICA'
 'PAN AFRICA CHRISTIAN UNIVERSITY' 'LUKENYA UNIVERSITY'
 'KOITALEEL SAMOEI UNIVERSITY COLLEGE' 'PIONEER INTERNATIONAL UNIVERSITY'
 'SCOTT CHRISTIAN UNIVERSITY' 'AFRICA INTERNATIONAL UNIVERSITY'
 'INTERNATIONAL LEADERSHIP UNIVERSITY' 'TANGAZA UNIVERSITY COLLEGE'
 'KENYA ASSEMBLIES OF GOD EAST UNIVERSITY' 'TURKANA UNIVERSITY COLLEGE'
 'MARIST INTERNATIONAL UNIVERSITY COLLEGE' 'RAF INTERNATIONAL UNIVERSITY'
 'UNITED STATES INTERNATIONAL UNIVERSITY' 'AMREF INTERNATIONAL UNIVERSITY']

In [6]:
#select * from df where institution name == egerton university

df[df['PROGRAMME NAME'] == "EGERTON UNIVERSITY"]

Empty DataFrame
Columns: [#, PROG CODE, INSTITUTION NAME, PROGRAMME NAME, 2015 CUTOFF, 2016 CUTOFF, 2017 CUTOFF, 2018 CUTOFF, 2019 CUTOFF, 2020 CUTOFF, 2021 CUTOFF]
Index: []

In [10]:
filtered_df = df.loc[ (df['INSTITUTION NAME'] == "EGERTON UNIVERSITY")]
prog = filtered_df['PROGRAMME NAME'].tolist()
print(prog)

['BACHELOR OF ARTS', 'BACHELOR OF SCIENCE (ACTUARIAL SCIENCE)', 'BACHELOR OF SCIENCE (BIOCHEMISTRY)', 'BACHELOR OF SCIENCE (COMPUTER SCIENCE)', 'BACHELOR OF SCIENCE', 'BACHELOR OF SCIENCE (AGRICULTURAL ENGINEERING)', 'BACHELOR OF SCIENCE (AGRICULTURE)', 'BACHELOR OF SCIENCE (FOOD SCIENCE & TECHNOLOGY)', 'BACHELOR OF VETERINARY MEDICINE', 'BACHELOR OF MEDICINE & BACHELOR OF SURGERY', 'BACHELOR OF SCIENCE IN NURSING', 'BACHELOR OF COMMERCE', 'BACHELOR OF LAWS (LLB)', 'BACHELOR OF EDUCATION (ARTS)', 'BACHELOR OF ARTS (CRIMINOLOGY AND SECURITY STUDIES)', 'BACHELOR OF EDUCATION (SCIENCE)', 'BACHELOR OF SCIENCE (WILDLIFE ENTERPRISES & MANAGEMENT)', 'BACHELOR OF SCIENCE (STATISTICS)', 'BACHELOR OF SCIENCE (HORTICULTURE)', 'BACHELOR OF SCIENCE (FOOD NUTRITION & DIETETICS)', 'BACHELOR OF SCIENCE (BIOMEDICAL SCIENCE & TECHNOLOGY)', 'BACHELOR OF ARTS (ECONOMICS & SOCIOLOGY)', 'BACHELOR OF SCIENCE (ECONOMICS & STATISTICS)', 'BACHELOR OF SCIENCE (MANUFACTURING ENGINEERING & TECHNOLOGY)', 'BACHELOR OF SCIENCE (ENVIRONMENTAL SCIENCES)', 'BACHELOR OF SCIENCE (AGRICULTURAL ECONOMICS)', 'BACHELOR OF SCIENCE (CLOTHING TEXTILE & INTERIOR DESIGN)', 'BACHELOR OF SCIENCE (ECOTOURISM & HOSPITALITY MANAGEMENT)', 'BACHELOR OF SCIENCE (INSTRUMENTATION & CONTROL ENGINEERING)', 'BACHELOR OF SCIENCE IN LIBRARY AND INFORMATION SCIENCE', 'BACHELOR OF PSYCHOLOGY', 'BACHELOR OF SCIENCE (COMMUNITY DEVELOPMENT)', 'BACHELOR OF PURCHASING & SUPPLIES MANAGEMENT', 'BACHELOR OF AGRIBUSINESS MANAGEMENT', 'BACHELOR OF SCIENCE (GEOGRAPHY)', 'BACHELOR OF SCIENCE (ANIMAL SCIENCE)', 'BACHELOR OF ENTREPRENEURSHIP AND SMALL BUSINESS MANAGEMENT', 'BACHELOR OF ENTREPRENUERSHIP & SMALL BUSINESS MANAGEMENT', 'BACHELOR OF ARTS (GENDER, WOMEN AND DEVELOPMENT STUDIES)', 'BACHELOR OF ARTS (HISTORY & ECONOMICS)', 'BACHELOR OF SCIENCE (DAIRY TECHNOLOGY & MANAGEMENT)', 'BACHELOR OF SCIENCE (AGRICULTURE & HUMAN ECOLOGY EXTENSION)', 'BACHELOR OF SCIENCE (APPLIED AQUATIC SCIENCE)', 'BACHELOR OF SCIENCE (NATURAL RESOURCES MANAGEMENT)', 'BACHELOR OF ARTS (COMMUNICATION AND MEDIA)', 'BACHELOR OF SCIENCE IN APPLIED COMPUTER SCIENCE', 'BACHELOR OF SCIENCE IN DRYLAND RESOURCE MANAGEMENT', 'BACHELOR OF SCIENCE (AGRICULTURAL EDUCATION & EXTENSION)', 'BACHELOR OF SCIENCE (INTEGRATED FOREST RESOURCES MANAGEMENT)', 'BACHELOR OF ARTS (HISTORY)', 'BACHELOR OF SCIENCE CLINICAL MEDICINE', 'BACHELOR OF ARTS IN HISTORY & INTERNATIONAL STUDIES', 'BACHELOR OF EDUCATION (EARLY CHILDHOOD DEVELOPMENT EDUCATION)', 'BACHELOR OF SCIENCE IN ANIMAL HEALTH MANAGEMENT', 'BACHELOR OF INDUSTRIAL TECHNOLOGY', 'BACHELOR OF SCIENCE (WATER AND ENVIRONMENTAL ENGINEERING)', 'BACHELOR OF SCIENCE IN SOIL ENVIRONMENT & LAND USE MANAGEMENT)', 'BACHELOR OF ARTS (SOCIOLOGY & RELIGION)']

yeah, there is a rule in coding that kinda says that to always assume your client is dumb. for now, i will test it out using input, but i will later progress on to user interface with buttons and such

yeah, it works as expected
now to build the bot version, maybe advance with some functions. otherwise, adios!

its a new day with new problems. no straight youtube video that explains usage of whatsapp api. wtf

yeah, after two hours i decided to just fuck it and go twillio. phuck!

In [4]:
from twilio.rest import Client

account_sid = 'ACb90f87328d59967cc4d476793bb3a61c'
auth_token = 'cd9f5170e65122d843a796fbb27e44ae'
client = Client(account_sid, auth_token)

message = client.messages.create(
  from_='whatsapp:+14155238886',
  body='Your appointment is coming up on July 21 at 3PM',
  to='whatsapp:+254773775506'
)

print(message.sid)

SMe2f377f6a3c2d7451901dc6d5631cd05

In [ ]:
# skeleton for user initiated convo 24hr convo window
from twilio.rest import Client

account_sid = 'ACb90f87328d59967cc4d476793bb3a61c'
auth_token = '[AuthToken]'
client = Client(account_sid, auth_token)

message = client.messages.create(
  from_='whatsapp:+14155238886',
  to='whatsapp:+254773775506'
)

print(message.sid)

now that i have a basic idea of what to do, lets see what to do with this bot

to send and receive messages, we shall use flask to get the said messages

In [ ]:
from flask import Flask, request
from twilio.twiml.messaging_response import MessagingResponse


# # init flask app
app = Flask(__name__)

# define a route to handle incoming requests
@app.route('/response', methods=['POST'])
def response_func():
    user_response = request.values.get('Body', '').lower()
    msg = MessagingResponse()
    message = msg.message()
    message.body("aok")
    return str(msg)

if __name__ == '__main__':
    app.run(debug=False)

i need more material! i have to learn some server typer like aws in order to use reply and detect messages!

should we just do a teelgram bot?, it sounds simpler...

yes. Indeed ! the telegram bot was simpler. lets do it again and probably make a skeleton of it

lets do this, part two!

getting our api token and bot name from @BotFather.

In Python, the Final type hint is used to indicate that a variable is intended to be a constant and should not be reassigned. It is a hint to both static analyzers and other programmers that the variable's value should not be modified once it is assigned.

In [8]:
from typing import Final

API_KEY :Final = '5849352966:AAFn5t96KRMLoz1o9YfylbZJWkKdWnTr0M8'
BOT_USERNAME: Final = '@BrainHostbot'

lets pip install  python-telegram-bot

To install packages using pip in a Jupyter Notebook (.ipynb file), you can use the following command:

`%pip install python-telegram-bot`

In [9]:

%pip install python-telegram-bot

Requirement already satisfied: python-telegram-bot in c:\users\bm\mooc 2023\.venv\lib\site-packages (20.3)
Requirement already satisfied: httpx~=0.24.0 in c:\users\bm\mooc 2023\.venv\lib\site-packages (from python-telegram-bot) (0.24.0)
Requirement already satisfied: certifi in c:\users\bm\mooc 2023\.venv\lib\site-packages (from httpx~=0.24.0->python-telegram-bot) (2023.5.7)
Requirement already satisfied: httpcore<0.18.0,>=0.15.0 in c:\users\bm\mooc 2023\.venv\lib\site-packages (from httpx~=0.24.0->python-telegram-bot) (0.17.0)
Requirement already satisfied: idna in c:\users\bm\mooc 2023\.venv\lib\site-packages (from httpx~=0.24.0->python-telegram-bot) (3.4)
Requirement already satisfied: sniffio in c:\users\bm\mooc 2023\.venv\lib\site-packages (from httpx~=0.24.0->python-telegram-bot) (1.3.0)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\bm\mooc 2023\.venv\lib\site-packages (from httpcore<0.18.0,>=0.15.0->httpx~=0.24.0->python-telegram-bot) (0.14.0)
Requirement already satisfied: anyio<5.0,>=3.0 in c:\users\bm\mooc 2023\.venv\lib\site-packages (from httpcore<0.18.0,>=0.15.0->httpx~=0.24.0->python-telegram-bot) (3.6.2)
Note: you may need to restart the kernel to use updated packages.

now we can import the library's modules

In [10]:
from telegram import Update
from telegram.ext import Application, CommandHandler, MessageHandler, filters, ContextTypes

to make our functions asynchronous, we need to use async in our functions. 

what is async?

In Python, `async` is a keyword used in asynchronous programming to define functions, methods, or code blocks that can be executed asynchronously. Asynchronous programming allows you to write concurrent code that can perform multiple tasks simultaneously without blocking the execution flow.

When a function or method is defined with the `async` keyword, it becomes an asynchronous function. This means that the function can be paused and resumed during its execution to allow other tasks to run. Asynchronous functions are typically used when performing I/O-bound operations, such as network requests or file operations, that may take some time to complete.

To execute an asynchronous function, you need to use the `await` keyword. When an await statement is encountered within an asynchronous function, it pauses the execution of that function until the awaited task is completed. While waiting for the task to complete, the execution is returned to the event loop, allowing other tasks to run.

In [11]:
# defining Commands to be used
async def start_command(update: Update, context: ContextTypes.DEFAULT_TYPE):
    await update.message.reply_text('Hello! Thanks for chatting with me. I am a bot')

async def help_command(update: Update, context: ContextTypes.DEFAULT_TYPE):
    await update.message.reply_text(' I am a bot. Please type something so that i can respond')

async def custom_command(update: Update, context: ContextTypes.DEFAULT_TYPE):
    await update.message.reply_text('This is a custom command')

how the bot will handle responses from the user

In [12]:
# responses 

def handle_response(text: str) -> str:

    processed: str = text.lower()

    if 'hello' in processed:
        return 'Hey there'
    
    if 'how are you' in processed:
        return 'I am good'
    
    if 'i love python ' in processed:
        return 'Remember to subscribe!'
    
    return 'I do not understand the words coming out of your keyboard...'

create a function that handles the messages to send to the user

In [13]:
async def handle_message(update: Update, context: ContextTypes.DEFAULT_TYPE):

    # we want to check if the message type is from a group
    message_type: str = update.message.chat.type
    text: str = update.message.text

    # debugger
    print(f'user ({update.message.chat.id}) in  {message_type}: "{text}"')

    # check whether message type is group or private
    if message_type == 'group':

        # if the message is from a group and a user responds using the bot username 
        if BOT_USERNAME in text:
            new_text: str = text.replace(BOT_USERNAME, '').strip()
            response: str = handle_response(new_text)
        else:
            return
    else:
        response: str = handle_response(text)

    # debugger
    print('Bot: ', response)
    await update.message.reply_text(response)

logging errors

In [14]:
async def error(update: Update, context: ContextTypes.DEFAULT_TYPE):
    print(f'Update {update} caused error {context.error}')

lets glue this all together

In [ ]:
if __name__ == '__main__':
    print('starting bot...')
    app = Application.builder().token(API_KEY).build()

    # commands
    app.add_handler(CommandHandler('start', start_command))
    app.add_handler(CommandHandler('help', help_command))
    app.add_handler(CommandHandler('custom', custom_command))

    # messages 
    app.add_handler(MessageHandler(filters.TEXT, handle_message))

    # errors
    app.add_error_handler(error)

    # check constantly for updates
    print('Polling...')
    app.run_polling(poll_interval=3)

i see that we can add buttons . lets try it out

In [ ]:
# commands
async def start_command(update: Update, context: ContextTypes.DEFAULT_TYPE):

    """ Statrs the convo"""
    reply_keyboard = [["test1", "test2", "test3"]]

    await update.message.reply_text(
        "Hello! Thanks for chatting with me!",
        reply_markup = ReplyKeyboardMarkup(
            reply_keyboard,
            one_time_keyboard=True,
            input_field_placeholder="Testing?"
            ) # type: ignore
        )

this line actually works!!!

lets try it with our courses!

# breakthrough!

after two whole days of tutorials and documentation, we finallywere able to make the bot work!. the main challenge was to make the bot accept two keyboardbutton functions and output the required cuttoff points. here are the steps i took for the past two days

import required libraries

In [27]:
from telegram import Update, KeyboardButton, ReplyKeyboardMarkup
from telegram.ext import Application, CommandHandler, ContextTypes, MessageHandler, filters, ConversationHandler
import constants as keys
import pandas as pd

the constants library is a python file i made to store the api tokens and api keys as so...

In [ ]:
from typing import Final

API_KEY :Final = '5849352966:XXXXXXXXXXXXXXXXXXXXXXXr0M8' # Hidden api key
BOT_USERNAME: Final = '@BrainHostbot'

The plan is to fetch data from a clean excel table, read it using pandas and let the user select university and courses to output the cutoff points.

lets first open up the data

In [25]:
# import dataframe 
df = pd.read_excel('DEGREE COURSES.xlsx')
df

,#,PROG CODE,INSTITUTION NAME,PROGRAMME NAME,2015 CUTOFF,2016 CUTOFF,2017 CUTOFF,2018 CUTOFF,2019 CUTOFF,2020 CUTOFF,2021 CUTOFF
0,1,1057101,EGERTON UNIVERSITY,BACHELOR OF ARTS,30.02,25.256,25.339,24.851,26.54,28.227,22.926
1,2,1087101,KISII UNIVERSITY,BACHELOR OF ARTS,31.918,26.569,-,23.93,24.763,27.318,22.926
2,3,1105101,CHUKA UNIVERSITY,BACHELOR OF ARTS,30.99,24.952,24.402,25.798,26.729,28.419,25.974
3,4,1111101,KENYATTA UNIVERSITY,BACHELOR OF ARTS,29.97,24.382,24.435,25.612,26.988,28.196,25.034
4,5,1117101,PWANI UNIVERSITY,BACHELOR OF ARTS,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...
2185,1,1105C29,CHUKA UNIVERSITY,BACHELOR OF ENGINEERING PHYSICS,-,-,-,-,-,19.481,16.787
2186,1,1082C36,MASINDE MULIRO UNIVERSITY OF SCIENCE & TECHNOLOGY,BACHELOR OF SCIENCE IN INFORMATION SYSTEMS AND...,-,-,-,-,-,-,22.544
2187,2,1470C36,KAIMOSI FRIENDS UNIVERSITY COLLEGE,BACHELOR OF SCIENCE IN INFORMATION SYSTEMS AND...,-,-,-,-,-,-,22.544
2188,1,1061C81,KABARAK UNIVERSITY,BACHELOR OF ARTS IN CHAPLAINCY,-,-,-,-,-,-,19.956
2189,1,1080C82,CO-OPERATIVE UNIVERSITY OF KENYA,BACHELOR OF SCIENCE IN APPLIED STATISTICS AND ...,-,-,-,-,-,-,19.223

```console
	#	PROG CODE	INSTITUTION NAME	PROGRAMME NAME	2015 CUTOFF	2016 CUTOFF	2017 CUTOFF	2018 CUTOFF	2019 CUTOFF	2020 CUTOFF	2021 CUTOFF
0	1	1057101	EGERTON UNIVERSITY	BACHELOR OF ARTS	30.02	25.256	25.339	24.851	26.54	28.227	22.926
1	2	1087101	KISII UNIVERSITY	BACHELOR OF ARTS	31.918	26.569	-	23.93	24.763	27.318	22.926
2	3	1105101	CHUKA UNIVERSITY	BACHELOR OF ARTS	30.99	24.952	24.402	25.798	26.729	28.419	25.974
3	4	1111101	KENYATTA UNIVERSITY	BACHELOR OF ARTS	29.97	24.382	24.435	25.612	26.988	28.196	25.034
```

this is the basic output of the df. as you can see, we have universities, programme name and cutoff points. lets jump right in to building the bot

To implement the desired functionality, we need four key functions:

1. Start Command Function:

    * This function is responsible for initiating the bot.
    * It displays a list of universities for users to choose from.
    * The selected university is captured using a keyboard button function.
    * This function sets the stage for further interactions.

2. University Selection Function:

    * This function handles the user's choice of university.
    * It takes the selected university and retrieves the corresponding data from the dataframe.
    * The function generates a list of courses offered by the selected university.
    * The list is presented to the user as keyboard buttons for course selection.

3. Course Selection Function:

    * This function handles the user's choice of course.
    * It takes the selected course and the previously chosen university.
    * Using the dataframe, it fetches the cutoff points for the selected course at the specified university.
    * The cutoff points are then displayed to the user.

4. End Command Function:

    * This function allows users to gracefully stop the bot.
    * It handles the command to end the interaction.
    * Once executed, the bot stops and terminates its operation.

lets start with the start function

In [ ]:
from telegram import Update, KeyboardButton, ReplyKeyboardMarkup
from telegram.ext import Application, CommandHandler, ContextTypes, MessageHandler, filters, ConversationHandler
import constants as keys
import pandas as pd

# List of universities as keyboard buttons
universities = [
    "University of Nairobi",
    "Kenyatta University",
    "Jomo Kenyatta University of Agriculture and Technology",
    "Egerton University	",
    "Moi University	",
    "Technical University of Kenya",
    "Maseno University",
    "Murang'a University of Technology",
    "Kisii University",
    "University of Embu	",
    "Karatina University	",
    "Masinde Muliro University of Science and Technology	",
    "Dedan Kimathi University of Technology	 ",
    "Multimedia University of Kenya	",
    "Pwani University	",
    "Meru University of Science and Technology",
    "South Eastern Kenya University",
    "The Co-operative University of Kenya",
    "Garissa University	",
    "Technical University of Mombasa",
    "Jaramogi Oginga Odinga University of Science and Technology",
    "University of Eldoret",
    "Kibabii University",
    "Chuka University",
    "Machakos University",
    "Maasai Mara University",
    "Kirinyaga University",
    "Laikipia University",
    "Rongo University",
    "University of Kabianga	",
    "Taita Taveta University"
]

# import dataframe 
df = pd.read_excel('DEGREE COURSES.xlsx')

async def start_command(update: Update, context: ContextTypes.DEFAULT_TYPE):
    """
    This function handles the start command and displays a list of universities as keyboard buttons.
    """
    reply_keyboard = [[university] for university in universities]
    await update.message.reply_text(
        "Hello! I am the Brainhost bot here to help you select courses!\n"
        "Please select the university you are interested in:",
        reply_markup=ReplyKeyboardMarkup(reply_keyboard, one_time_keyboard=True, resize_keyboard=True)
    )

    context.user_data['university_response'] = update.message.text



if __name__ == '__main__':
    app = Application.builder().token(keys.API_KEY).build()

    # Add handler for the start command
    app.add_handler(CommandHandler('start', start_command))

    print('Polling...')
    app.run_polling(poll_interval=3)

here's a breakdown of the code from my point of view

the `universities`  tuple is a custom list I created to display only the top 20 universities in Kenya, instead of listing all 70. The universities are arranged in descending order from the best to good enough.

`df = pd.read_excel('DEGREE COURSES.xlsx')`  is used to access the dataframe from the clean Excel file. The Excel file, which was initially obtained from the KUCCPS website, required cleaning before being used.

`async def start_command(update: Update, context: ContextTypes.DEFAULT_TYPE):`  line defines an asynchronous function format specified by the Telegram documentation. It uses the update and context parameters to handle chat updates from the Telegram bot.

`reply_keyboard = [[university] for university in universities]` creates a list of universities stored in a variable to be used as buttons in the ReplyKeyboardMarkup function.

```python
    await update.message.reply_text(
        "Hello! I am the Brainhost bot here to help you select courses!\n"
        "Please select the university you are interested in:",
        reply_markup=ReplyKeyboardMarkup(reply_keyboard, one_time_keyboard=True, resize_keyboard=True)
    )
```

this snippet  waits for the `/start` command to be called and then displays the provided text in the chat box along with the keyboard buttons in the keyboard section.

`context.user_data['university_response'] = update.message.text` is used to store the user's university selection.

```python
if __name__ == '__main__':
    app = Application.builder().token(keys.API_KEY).build()

    # Add handler for the start command
    app.add_handler(CommandHandler('start', start_command))

    print('Polling...')
    app.run_polling(poll_interval=3)
```

this snippet is the entry point of the script. It builds the application using the `API` key you provided, adds a handler for the `/start` command, and starts the bot by calling `app.run_polling(poll_interval=3)`. This line initiates the bot and continuously checks for new updates or messages from users with a polling interval of 3 seconds.

lets add the university handler function.

In [ ]:

async def handle_university(update: Update, context: ContextTypes.DEFAULT_TYPE):
    """
    This function handles the selection of a university by the user.
    It fetches the text from the previous command's output and creates a keyboard button for courses.
    It then prompts the user to select a course from the available options.
    """
    # Fetch text from start_command output
    text = update.message.text.upper()

    # Filter the dataframe to get courses for the selected university
    filtered_df = df.loc[df['INSTITUTION NAME'] == text]
    courses = filtered_df['PROGRAMME NAME'].tolist()

    # Create keyboard buttons for courses
    reply_keyboard = ReplyKeyboardMarkup([[course] for course in courses], one_time_keyboard=True)

    await update.message.reply_text(
        "Please select the course needed:",
        reply_markup=reply_keyboard
    )

    context.user_data['course_response'] = update.message.text



"""this line goes nside the __name__ function """
    # add handler for university selected
    app.add_handler(MessageHandler(filters.TEXT, handle_university))

lets break it down from my POV
`text = update.message.text.upper()` fetches the text message from the user ie the university course selected and then stores it inside `text` variable.

`filtered_df = df.loc[df['INSTITUTION NAME'] == text]` selects all rows where the institution name matches the text given by the user

`courses = filtered_df['PROGRAMME NAME'].tolist()` outputs a list of programme names(degree courses) and stores them in courses

`context.user_data['course_response'] = update.message.text` stores the user's course input in the user data dictionary under the key 'course_response'. It keeps track of the course selected by the user for further processing.

`app.add_handler(MessageHandler(filters.TEXT, handle_university))` handles the message sent by the user

lets add the course selection function

In [ ]:
async def handle_course(update: Update, context: ContextTypes.DEFAULT_TYPE):
    """
    This function handles the selection of a course by the user.
    It fetches the text from the user's input and retrieves the selected university and course responses from the user data.
    It then prints out the cutoff points for the selected course.
    """
    text = update.message.text

    # Fetch text from handle_university output
    start_response = context.user_data.get('university_response')
    print("start_response:", start_response)
    first_level_response = context.user_data.get('course_response')
    print("first_level_response:", first_level_response)

    # Retrieve cutoff points for the selected course and university
    filtered_df = df.loc[
        (df['PROGRAMME NAME'] == text.upper()) & (df['INSTITUTION NAME'] == first_level_response.upper())
    ]
    cutoffs = filtered_df[
        ['2015 CUTOFF', '2016 CUTOFF', '2017 CUTOFF', '2018 CUTOFF', '2019 CUTOFF', '2020 CUTOFF', '2021 CUTOFF']
    ]

    # Convert cutoffs to a dictionary
    cutoffs = cutoffs.to_dict(orient='list')
    print(cutoffs)

    # Prepare the output lines for cutoff points
    output_lines = []
    for year, cutoff_values in cutoffs.items():
        line = f"{year}: {', '.join(map(str, cutoff_values))}"
        output_lines.append(line)

    await update.message.reply_text(
        "\n".join(output_lines)
    )

""""this line goes inside the __name__ function"""

# Add handler to handle courses
app.add_handler(MessageHandler(filters.TEXT & ~(filters.COMMAND), handle_course))

lets break it down even though its hard

`text = update.message.text` receives the text message from the user ie the course seleced
`start_response = context.user_data.get('university_response')` & `first_level_response = context.user_data.get('course_response')` fetch data from the start function and handle_university function

```python
    # Prepare the output lines for cutoff points
    output_lines = []
    for year, cutoff_values in cutoffs.items():
        line = f"{year}: {', '.join(map(str, cutoff_values))}"
        output_lines.append(line)

    await update.message.reply_text(
        "\n".join(output_lines)
    )
```
this code snippet separates the cutoff items into a list readable by the user

`app.add_handler(MessageHandler(filters.TEXT & ~(filters.COMMAND), handle_course))` handles the course function

lets finish up with the end function

In [ ]:
async def exit(update: Update, context: ContextTypes.DEFAULT_TYPE) -> int:
    """Cancels and ends the conversation."""
    user = update.message.from_user
    await update.message.reply_text(
        "Bye! I hope we can talk again some day.", reply_markup=ReplyKeyboardRemove()
    )

"""This line goes inside the __name__ function"""
# # add handler to handle user input 
app.add_handler(CommandHandler('exit', exit))

thus so far we have this

In [ ]:
from telegram import Update, KeyboardButton, ReplyKeyboardMarkup
from telegram.ext import Application, CommandHandler, ContextTypes, MessageHandler, filters
import constants as keys
import pandas as pd

# keyboard buttons for universities
universities = [
    "University of Nairobi",
    "Kenyatta University",
    "Jomo Kenyatta University of Agriculture and Technology",
    "Egerton University	",
    "Moi University	",
    "Technical University of Kenya",
    "Maseno University",
    "Murang'a University of Technology",
    "Kisii University",
    "University of Embu	",
    "Karatina University	",
    "Masinde Muliro University of Science and Technology	",
    "Dedan Kimathi University of Technology	 ",
    "Multimedia University of Kenya	",
    "Pwani University	",
    "Meru University of Science and Technology",
    "South Eastern Kenya University",
    "The Co-operative University of Kenya",
    "Garissa University	",
    "Technical University of Mombasa",
    "Jaramogi Oginga Odinga University of Science and Technology",
    "University of Eldoret",
    "Kibabii University",
    "Chuka University",
    "Machakos University",
    "Maasai Mara University",
    "Kirinyaga University",
    "Laikipia University",
    "Rongo University",
    "University of Kabianga	",
    "Taita Taveta University"
]

# import dataframe 
df = pd.read_excel('DEGREE COURSES.xlsx')

async def start_command(update: Update, context: ContextTypes.DEFAULT_TYPE):
    """
    This function handles the start command and displays a list of universities as keyboard buttons.
    """
    reply_keyboard = [[university] for university in universities]
    await update.message.reply_text(
        "Hello! I am the Brainhost bot here to help you select courses!\n"
        "Please select the university you are interested in:",
        reply_markup=ReplyKeyboardMarkup(reply_keyboard, one_time_keyboard=True, resize_keyboard=True)
    )

    context.user_data['university_response'] = update.message.text

async def handle_university(update: Update, context: ContextTypes.DEFAULT_TYPE):
    """
    This function handles the selection of a university by the user.
    It fetches the text from the previous command's output and creates a keyboard button for courses.
    It then prompts the user to select a course from the available options.
    """
    # Fetch text from start_command output
    text = update.message.text.upper()

    # Filter the dataframe to get courses for the selected university
    filtered_df = df.loc[df['INSTITUTION NAME'] == text]
    courses = filtered_df['PROGRAMME NAME'].tolist()

    # Create keyboard buttons for courses
    reply_keyboard = ReplyKeyboardMarkup([[course] for course in courses], one_time_keyboard=True)

    await update.message.reply_text(
        "Please select the course needed:",
        reply_markup=reply_keyboard
    )

    context.user_data['course_response'] = update.message.text


async def handle_course(update: Update, context: ContextTypes.DEFAULT_TYPE):
    """
    This function handles the selection of a course by the user.
    It fetches the text from the user's input and retrieves the selected university and course responses from the user data.
    It then prints out the cutoff points for the selected course.
    """
    text = update.message.text

    # Fetch text from handle_university output
    start_response = context.user_data.get('university_response')
    first_level_response = context.user_data.get('course_response')

    # Retrieve cutoff points for the selected course and university
    filtered_df = df.loc[
        (df['PROGRAMME NAME'] == text.upper()) & (df['INSTITUTION NAME'] == first_level_response.upper())
    ]
    cutoffs = filtered_df[
        ['2015 CUTOFF', '2016 CUTOFF', '2017 CUTOFF', '2018 CUTOFF', '2019 CUTOFF', '2020 CUTOFF', '2021 CUTOFF']
    ]

    # Convert cutoffs to a dictionary
    cutoffs = cutoffs.to_dict(orient='list')
    print(cutoffs)

    # Prepare the output lines for cutoff points
    output_lines = []
    for year, cutoff_values in cutoffs.items():
        line = f"{year}: {', '.join(map(str, cutoff_values))}"
        output_lines.append(line)

    await update.message.reply_text(
        "\n".join(output_lines)
    )

async def exit(update: Update, context: ContextTypes.DEFAULT_TYPE) -> int:
    """Cancels and ends the conversation."""
    user = update.message.from_user
    await update.message.reply_text(
        "Bye! I hope we can talk again some day."
    )



if __name__ == '__main__':
    app = Application.builder().token(keys.API_KEY).build()

    # add handler to handle user input 
    app.add_handler(CommandHandler('start', start_command))

    # add handler to handle university messages
    app.add_handler(MessageHandler(filters.TEXT & ~(filters.COMMAND), handle_university))

    # add handler to handle courses
    app.add_handler(MessageHandler(filters.TEXT & ~(filters.COMMAND), handle_course))

    # add handler to exit
    app.add_handler(CommandHandler('exit', exit))

    print('Polling...')
    app.run_polling(poll_interval=3)

but as you can see, we are stuck in a loop. the program can't produce cutoff points

![Image description](bot1.png)

![Image description](bot2.png)

![Image description](bot3.png)


So, we need to introduce the ConversationHandler. According to the Telegram Bot API, it is used to handle multi-step conversations with users.

It enables us to use more than one keyboard button function.

The ConversationHandler requires us to add two additional components: states, entry points, and fallbacks.

`States`: States represent the different stages or steps in the conversation. We define and assign unique state names to each step, such as "START", "CHOOSING_UNIVERSITY", "CHOOSING_COURSE", and so on. These states help keep track of the user's progress in the conversation.

`entry_points` and `Fallbacks`: Entry points define the starting points of the conversation, typically triggered by a specific command or user action. Fallbacks, on the other hand, handle unexpected or invalid inputs from users and provide appropriate responses or instructions. These entry points and fallbacks ensure that the conversation flows smoothly and handles various scenarios.

let our states be `UNIVERSITY, COURSE, CUTOFF = range(3)` and lets edit the __name__ function to handle multiple messages.

and let each async function return its respective state

In [ ]:
# Remember to import ConvesationHandler from telegram.ext

# conversation handler 
UNIVERSITY, COURSE, CUTOFF = range(3)

# create the start_command function 
async def start_command(update: Update, context: ContextTypes.DEFAULT_TYPE):
    reply_keyboard = [[university] for university in universities]
    await update.message.reply_text(    # type: ignore
        "Hello! I am the Brainhost bot, your course selection assistant!\n"
        "Please select a university from the list below to explore the available courses:"
        reply_markup = ReplyKeyboardMarkup(
            reply_keyboard,
            one_time_keyboard=True,
            input_field_placeholder="Universities?",
            resize_keyboard = True
            ) # type: ignore
    )

    context.user_data['university_response'] = update.message.text# type: ignore

    return UNIVERSITY

async def handle_university(update: Update, context: ContextTypes.DEFAULT_TYPE):

    """
    This function handles the user's university selection and prompts for the course selection.
    """
    # fetch text from start_command output
    text: str = update.message.text.upper()

    # create another keyboardbutton for courses
    filtered_df = df.loc[df['INSTITUTION NAME'] == text]
    courses = filtered_df['PROGRAMME NAME'].tolist()
    reply_keyboard = ReplyKeyboardMarkup([[course] for course in courses], one_time_keyboard=True)

    await update.message.reply_text( 
        "Please select the course needed",
        reply_markup = reply_keyboard
    )

    context.user_data['course_response'] = update.message.text 

    return COURSE

async def handle_course(update: Update, context: ContextTypes.DEFAULT_TYPE):
    """
    This function handles the user's course selection and displays the cutoff points for the selected course.
    """
    text = update.message.text
    first_level_response = context.user_data.get('course_response')  # Fetch text from course selection

    # Filter the dataframe to select the cutoff points for the selected course and institution
    filtered_df = df.loc[(df['PROGRAMME NAME'] == text.upper()) & (df['INSTITUTION NAME'] == first_level_response.upper())]
    cutoffs = filtered_df[['2015 CUTOFF', '2016 CUTOFF', '2017 CUTOFF', '2018 CUTOFF', '2019 CUTOFF', '2020 CUTOFF', '2021 CUTOFF']]

    cutoffs = cutoffs.to_dict(orient='list')
    print(cutoffs)

    output_lines = []
    for year, cutoff_values in cutoffs.items():
        line = f"{year}: {', '.join(map(str, cutoff_values))}"
        output_lines.append(line)

    await update.message.reply_text(
        "\n".join(output_lines)
    )

    return CUTOFF

async def exit(update: Update, context: ContextTypes.DEFAULT_TYPE) -> int:
    """Cancels and ends the conversation."""
    user = update.message.from_user
    await update.message.reply_text(
        "Bye! I hope we can talk again some day.", reply_markup=ReplyKeyboardRemove()
    )

    return ConversationHandler.END

if __name__ == '__main__':
    app = Application.builder().token(keys.API_KEY).build()

    conv_handler = ConversationHandler(
        entry_points=[CommandHandler('start', start_command)],
        states={
            UNIVERSITY: [MessageHandler(filters.TEXT & ~(filters.COMMAND), handle_university)],
            COURSE: [MessageHandler(filters.TEXT & ~(filters.COMMAND), handle_course)],
        },
        fallbacks=[CommandHandler("exit", exit)],
    )

    app.add_handler(conv_handler)
    print('Polling...')
    app.run_polling(poll_interval=3) # type: ignore

lets break it down

```python
# conversation handler 
UNIVERSITY, COURSE, CUTOFF = range(3)
```
these are the global states we will use.

```python
async def start_command(update: Update, context: ContextTypes.DEFAULT_TYPE):
    return UNIVERSITY
async def handle_university(update: Update, context: ContextTypes.DEFAULT_TYPE):
   return COURSE
async def handle_course(update: Update, context: ContextTypes.DEFAULT_TYPE):
    return CUTOFF
async def exit(update: Update, context: ContextTypes.DEFAULT_TYPE) -> int:
    return ConversationHandler.END
```

Each function represents a step in the conversation flow. Each function returns the next state to proceed to, indicating the flow of the conversation. The `exit` function serves as the fallback and ends the conversation.

```python
if __name__ == '__main__':
    conv_handler = ConversationHandler(
        entry_points=[CommandHandler('start', start_command)],
        states={
            UNIVERSITY: [MessageHandler(filters.TEXT & ~(filters.COMMAND), handle_university)],
            COURSE: [MessageHandler(filters.TEXT & ~(filters.COMMAND), handle_course)],
        },
        fallbacks=[CommandHandler("exit", exit)],
    )
    app.add_handler(conv_handler)
```

The `entry_points` define the starting point of the conversation, which is the `/start` command handled by the `start_command` function. The `states` dictionary maps each state to the corresponding message handler function. The `fallbacks` define the fallback command, which is the `/exit` command handled by the `exit` function.